.outsiderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5rem;
    width: 420px;
    height: 590px;
    border-radius: 20px;
    background-color: var(--gray1);
    font-family: sans-serif;
    box-shadow: 5px 5px 20px black;
}

.insideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 96.5%;
    border-radius: 10px;
    background-color: var(--yellow1);
}

.pokeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    height: 37px;
    margin-top: .5rem;
}

.pokeName {
    font-size: 2rem;
    font-weight: bold;
}

.hpAndType {
    display: flex;
    align-items: center;
    
}

.hpAndType div {
    display: flex;
    align-items: baseline;
}

.hpValue {
    font-size: 1.7rem;
    font-weight: bold;
    align-self: flex-end;
    padding-right: .5rem;
}

.imgContainer {
    width: 345px;
    height: 225px;
    background-color: var(--gray1);
    border: 7px solid var(--brown1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokeImg {
    width: 98%;
    height: 98%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--testBorder);
    width: 355px;
    margin-top: .5rem;
}

#powerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    border-bottom: 1px solid black;
}

#powerName {
    color: var(--red1);
    width: 100%;
    text-align: left;
    margin: 0;
}

.descriptionEffect {
    font-weight: bold;
    width: 100%;
    font-size: .9rem;
    margin: 0;
    text-align: left;
}

#hr {
    background-color: black;
    height: 2px;
    width: 100%;
    margin: .3rem 0;
}

#attackContainer {
    display: flex;
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid black;
}

.attackHeader {
    // border: var(--testBorder);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
    // justify-content: space-between;
}

.powerTypeIconsContainer {
    flex: 1;
    display: flex;
    gap: .1rem;
    align-items: center;
}

#attackName {
    text-align: left;
    justify-content: center;
    margin: 0;
}

#attackValue {
    // border: var(--testBorder);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    font-size: 2.4rem;
    // flex: 1;
    // margin: 0;
    // text-align: right;
}

.powerRelations {
    display: flex;
    border: var(--testBorder);
    width: 100%;
    justify-content: space-around;
    margin-top: .5rem;
    // align-self: flex-start;
}

.relation {
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 5rem;
}

.powerRelations p {
    margin-bottom: .3rem;
}

.relationData {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;
    height: 100%;
    // gap: .3rem;
}

.relationData span {
    font-weight: bold;
    font-size: 1.2rem;
}

.retreat {
    border: var(--testBorder);
    display: flex;
    width: 100%;
    align-items: center;
    gap: .5rem;
    padding: .3rem 0;
    border-bottom: 1px solid black;

}
